<style>
    
    body.md-default-theme, body, html.md-default-theme, html {
        height: 109% !important;
    }

    input, select, textarea {
        font-size: 160% !important;
    }
</style>
<div class="img-logo">
    <img src="../app/images/logo/logo.png" class="img">
</div>
<div class="text-logo">
    <p><span class="glyphicon glyphicon-copyright-mark"></span> Development by LRRW</p>
</div>
<!--header-->
<!-- There is a more correct way of doing this -->
<div class="authstatus">
    <div ng-if="alertUserForgotPasswordSuccess" class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
        <strong>Success!</strong>
        <hr>
        <p>Password changed successfully.</p>
    </div>
</div>
<div class="authstatus">
    <div ng-if="alertUserForgotPasswordError" class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
        <strong>Warning!</strong>
        <hr>
        <p>Status code: 404</p>
        <p>Description: User not found.</p>
    </div>
</div>
<!-- endheader-->
<div class="form">
        <div id="login">
            <h1>Forgot Password</h1>
            <form method="POST" ng-submit="forgotPassword(userForgot)">
                <div class="field-wrap">
                    <label>
                        Email Address<span class="req">*</span>
                    </label>
                    <input type="email" ng-model="userForgot.email" required autocomplete="off"/>
                </div>
                    <div ng-if="response" class="field-wrap">
                    <label>
                         New Password
                    </label>
                    <input type="password" required ng-model="userForgot.newPassword" autocomplete="off"/>
                </div>
                <p class="forgot"><a href="#!/index">Register me?</a></p>
                <button class="button button-block">Send</button>
            </form>
        </div>
    </div>
<script>
    $('.form').find('input, textarea').on('keyup blur focus', function (e) {

        var $this = $(this),
            label = $this.prev('label');

        if (e.type === 'keyup') {
            if ($this.val() === '') {
                label.removeClass('active highlight');
            } else {
                label.addClass('active highlight');
            }
        } else if (e.type === 'blur') {
            if( $this.val() === '' ) {
                label.removeClass('active highlight');
            } else {
                label.removeClass('highlight');
            }
        } else if (e.type === 'focus') {

            if( $this.val() === '' ) {
                label.removeClass('highlight');
            }
            else if( $this.val() !== '' ) {
                label.addClass('highlight');
            }
        }
    });
</script>