<div class="img-logo">
    <img src="../app/images/logo/logo.png" class="img">
</div>
<div class="text-logo">
    <p><span class="glyphicon glyphicon-copyright-mark"></span> Development by Luís Fernando</p>
</div>
<!--header-->
<!-- There is a more correct way of doing this -->
<div class="authstatus">
    <div ng-if="auth == 'true'" class="alert alert-danger alert-dismissable">
        <button ng-click="cleanDataStorage()" type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span>
        </button>
        <strong>Warning!</strong>
        <hr>
        <p>Status code: 401</p>
        <p>Description: Non-authenticated user.</p>
    </div>
</div>
<div class="authstatus">
    <div ng-if="alertLoginError" class="alert alert-warning alert-dismissable">
        <button ng-click="cleanDataStorage()" type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span>
        </button>
        <strong>Warning!</strong>
        <hr>
        <p>Status code: 404</p>
        <p>Description: User not found.</p>
    </div>
</div>
<!-- endheader-->
<div class="form">
    <ul class="tab-group">
        <li class="tab active"><a href="#signup">Sign Up</a>
        </li>
        <li class="tab"><a href="#login">Log In</a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="signup">
            <h1>Sign Up for Free</h1>
            <form method="POST" ng-submit="registerUser(userRegister)">
                <div class="top-row">
                    <div class="field-wrap">
                        <label>
                            First Name<span class="req">*</span>
                        </label>
                        <input type="text" ng-model="userRegister.firstname" required autocomplete="off" />
                    </div>
                    <div class="field-wrap">
                        <label>
                            Last Name<span class="req">*</span>
                        </label>
                        <input type="text" ng-model="userRegister.lastname" required autocomplete="off" />
                    </div>
                </div>
                <div class="field-wrap">
                    <label>
                        Email Address<span class="req">*</span>
                    </label>
                    <input type="email" ng-model="userRegister.email" required autocomplete="off" />
                </div>
                <div class="field-wrap">
                    <label>
                        Set A Password<span class="req">*</span>
                    </label>
                    <input type="password" ng-model="userRegister.password" required autocomplete="off" />
                </div>
                <button id="loading" type="submit" data-loading-text="Loading..." class="button button-block">Get Start</button>
            </form>
        </div>
        <div id="login">
            <h1>Welcome Back!</h1>
            <form method="POST" ng-submit="login(userLogin)">
                <div class="field-wrap">
                    <label>
                        Email Address<span class="req">*</span>
                    </label>
                    <input type="email" ng-model="userLogin.email" required autocomplete="off" />
                </div>
                <div class="field-wrap">
                    <label>
                        Password<span class="req">*</span>
                    </label>
                    <input type="password" required ng-model="userLogin.password" autocomplete="off" />
                </div>
                <p class="forgot"><a href="#!/forgot">Forgot Password?</a>
                </p>
                <button id="loading-login" data-loading-text="Loading..." class="button button-block">Log In</button>
            </form>
        </div>
    </div>
    <!-- tab-content -->
</div>
<!-- /form -->
<script>
    $('.form').find('input, textarea').on('keyup blur focus', function (e) {

        var $this = $(this),
            label = $this.prev('label');

        if (e.type === 'keyup') {
            if ($this.val() === '') {
                label.removeClass('active highlight');
            } else {
                label.addClass('active highlight');
            }
        } else if (e.type === 'blur') {
            if( $this.val() === '' ) {
                label.removeClass('active highlight');
            } else {
                label.removeClass('highlight');
            }
        } else if (e.type === 'focus') {

            if( $this.val() === '' ) {
                label.removeClass('highlight');
            }
            else if( $this.val() !== '' ) {
                label.addClass('highlight');
            }
        }
    });

    $('#loading').click(function () {

        var $btn = $(this);
        $btn.button('loading');
        // simulating a timeout
        setTimeout(function () {
            $btn.button('reset');
        }, 5000);

    });

    $('#loading-login').click(function () {

        var $btn = $(this);
        $btn.button('loading');
        // simulating a timeout
        setTimeout(function () {
            $btn.button('reset');
        }, 5000);

    });

    $('.tab a').on('click', function (e) {

        e.preventDefault();

        $(this).parent().addClass('active');
        $(this).parent().siblings().removeClass('active');

        target = $(this).attr('href');

        $('.tab-content > div').not(target).hide();

        $(target).fadeIn(600);

    });
</script>