<div class="container" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="wrapper">
            <div class="side-bar">
                <ul>
                    <li class="menu-head">
                        My Tasks <a href="javascrip:void(0);" class="push_menu"><span class="glyphicon glyphicon-menu-hamburger pull-right"></span></a>
                    </li>
                    <div class="menu">
                        <li>
                            <a href="javascrip:void(0);" id="dashbord" class="active">Dashboard <span class="glyphicon glyphicon-dashboard pull-right"></span></a>
                        </li>
                        <li>
                            <a href="javascrip:void(0);" id="task">Tasks <span class="badge">{{badge}}</span><span class="glyphicon glyphicon-tasks pull-right"></span></a>
                        </li>
                        <li>
                            <a href="javascrip:void(0);" id="favorite">Favorite <span class="badge">{{tasksFavorite.length}}</span><span class="glyphicon glyphicon-star pull-right"></span></a>
                        </li>
                        <li>
                            <a role="button" data-toggle="modal" data-target="#settings" href="">Settings <span class="glyphicon glyphicon-cog pull-right"></span></a>
                        </li>
                        <li>
                            <a href="#" ng-click="logout()">Logout <span class="glyphicon glyphicon-log-out pull-right"></span></a>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="settings" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      Settings
      </div>
      <div class="modal-body">
              <div layout="row" layout-wrap flex>
                <div class="demo-select-all-checkboxes" flex="100" ng-repeat="item in items">
                    <md-checkbox class="green" ng-click="toggle(item)">{{item}}</md-checkbox>
                </div>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="content">
    <div id="dash" class="col-md-12">
        <div class="panel panel-task">
            <div class="panel-heading">Welcome, {{response.firstname}}</div>
            <div ng-if="badge > 0" class="panel-body">
                <span>You have {{badge}} new task{{badge > 1 ? 's' : ''}}.</span>
            </div>
            <div ng-if="badge === 0" class="panel-body">
                <span>Add a task :)</span>
            </div>
            <div class="tasknotification">
                <div ng-if="tasksRememberNotification.length > 0 && closeAlert !== 'false'" class="alert alert-info alert-dismissable">
                    <button ng-click="stop()" type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span>
                    </button>
                    <strong>Notification!</strong> Press the close button to end the sound notification.
                    <hr>
                    <p>{{tasksRememberNotification.length > 1 ? 'You have ' + tasksRememberNotification.length + ' tasks scheduled for today.' : 'You have ' + tasksRememberNotification.length + ' task scheduled for today.'}}</p>
                    <p ng-repeat="tasRemeberNotification in tasksRememberNotification">
                        Title: {{tasRemeberNotification.title}}
                        <audio id="notification">
                            {{tasksRememberNotification.length === 1 && closePlayer ? audioNotification.play() : audioNotification.pause()}}
                        </audio>
                    </p>
                </div>
            </div>
        </div>
        <!-- Modal Calendar-->
        <script type="text/ng-template" id="newModalContent.html">
            <div style="background-color: {{eventsObj.color}}; color: #fff">
                <div class="modal-header">
                    <h3>{{eventsObj.title}}</h3>
                </div>
                <div class="modal-body">
                        <p>Task: {{eventsObj.task}}</p>
                        <p>Date: {{eventsObj.remember}}</p>
                        <div style="margin-top: 40px; " class="alert alert-warning text-uppercase text-center" role="alert">Esc to exit</div>
                </div>
            </div>
        </script>
        <div style="margin-top:-10px;" class="panel panel-task">
            <div style="margin-top:20px ;width:70%; margin-left: 180px;" align="center" class="calendario">
            <p ng-if="badge === 0" style="width:30%; margin-left: -590px;" class="triangle-isosceles">No calendar tasks :(</p>
                <div  ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources" calendar="myCalendar"></div>
                <br> 
            </div>
        </div>
    </div>
    <div id="tas" class="col-md-12 hidden">
        <button id="newTask" class="btn btn-primary" data-toggle="collapse" data-target="#demo">New task</button>
        <br>
        <br>
        <div id="demo" class="collapse">
            <div class="panel panel-task">
                <div class="panel-heading">Add a new task</div>
                <div class="panel-body">
                    <div class="task">
                        <!--header-->
                        <!-- There is a more correct way of doing this -->
                        <div class="taskregistration">
                            <div ng-if="registration" class="alert alert-success alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span>
                                </button>
                                <strong>Success!</strong>
                                <hr>
                                <p>Task add with success.</p>
                            </div>
                        </div>
                        <!-- endheader-->
                        <form class="form-horizontal" ng-submit="registerTask(task)">
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <input type="text" ng-model="task.title" required class="form-control" id="inputEmail3" placeholder="Title">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <textarea ng-model="task.task" required class="form-control" rows="3" id="comment" placeholder="Task"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <input type="text" ng-model="task.remember" id="remember" class="form-control" placeholder="Remember">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <span>Priority </span>
                                    <div class="btn-group btn-toggle-priority">
                                        <button type="button" value="0" class="btn btn-sm btn-primary active">0-5</button>
                                        <button type="button" value="1" class="btn btn-sm btn-default">6-10</button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <span>Favorite </span>
                                    <div class="btn-group btn-toggle">
                                        <button type="button" value="1" class="btn btn-sm btn-default">Yes</button>
                                        <button type="button" value="0" class="btn btn-sm btn-primary active">No</button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-task-register btn-success-task">Add</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="list-group">
            <p ng-if="finishTsk" class="alert alert-success alert-dismissable">
                Task completed with success :)
            </p>
            <p class="list-group-item active">
                My Annotations
            </p>
            <div ng-if="badge === 0" class="panel panel-info">
                <div class="panel-body">Sorry, no tasks found.</div>
            </div>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div ng-repeat="ts in tasks" class="panel panel-default">
                    <div class="panel-heading" role="tab">
                        <h4 class="panel-title">
                            <a href="javascrip:void(0);" class="text-nowrap" ng-init="toggle[$index] = false"  ng-click="toggle[$index] = !toggle[$index]">
                                <span class="glyphicon glyphicon-plus-sign" ng-if="!toggle[$index]"></span>
                                <span class="glyphicon glyphicon-minus-sign" ng-if="toggle[$index]"></span>
                                {{ts.title}}
                            </a>
                             <p ng-if="ts.status == 0" class="text-right" style="margin-top:-19px;">
                                <a role="button" href="" ng-click="taskFinish(ts.id)">  
                                    Marcar como feito <span class="glyphicon glyphicon-pushpin"></span>
                                </a>
                            </p>
                            <p ng-if="ts.status == 1" class="text-right" style="margin-top:-19px;">
                                <a href="">  
                                    Concluído <span class="glyphicon glyphicon-ok"></span>
                                </a>
                            </p>
                        </h4>
                    </div>
                    <div ng-if="toggle[$index]">
                        <div class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <div class="taskalertOptions">
                                    <div ng-if="edit " class="alert alert-success alert-dismissable">
                                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span>
                                        </button>
                                        <strong>Success!</strong>
                                        <hr>
                                        <p>Task adited with success.</p>
                                    </div>
                                    <div ng-if="delete" class="alert alert-success alert-dismissable">
                                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span>
                                        </button>
                                        <strong>Success!</strong>
                                        <hr>
                                        <p>Task deleted with success.</p>
                                    </div>
                                </div>
                                <div class="taskedit">
                                    <form method="PUT" class="form-horizontal" ng-submit="putTask(ts)">
                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-10">
                                                <input type="text" ng-model="ts.title" required class="form-control" placeholder="Title">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-10">
                                                <textarea ng-model="ts.task_user" required class="form-control" rows="3" placeholder="Task"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-10">
                                                <input type="text" ng-model="ts.remember" id="remember_me" class="form-control" placeholder="Remember">
                                            </div>
                                        </div>
                                         <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-10">
                                                <span>Priority</span>
                                                <hr>
                                                <span class="label label-success">1 = Priority</span>
                                                <span class="label label-default">0 = No priority</span>
                                            </div>
                                            <div class="col-sm-offset-2 col-sm-10">
                                                <br>
                                                <input pattern="[0-1]+$" type="text" ng-model="ts.priority" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-10">
                                                <span>Favorite</span>
                                                <hr>
                                                <span class="label label-success">1 = Yes</span>
                                                <span class="label label-default">0 = No</span>
                                            </div>
                                            <div class="col-sm-offset-2 col-sm-10">
                                                <br>
                                                <input pattern="[0-1]+$" type="text" ng-model="ts.favorite" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-10">
                                                <div class="btn-group btn-group-justified" role="group">
                                                    <button class="btn btn-task btn-success-task">Edit</button>
                                                    <button type="button" ng-click="deleteTask(ts.id)" class="btn btn-task btn-danger">Delete</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="fav" class="col-md-12 hidden">
        <div class="list-group">
            <p class="list-group-item active">
                Your favorite tasks
            </p>
            <div ng-if="tasksFavorite.length === 0"  class="panel panel-info">
                <div class="panel-body">Sorry, you do not have any favorite chores.</div>
            </div>
            <div class="panel-group" role="tablist" aria-multiselectable="true">
                <div ng-repeat="tskFavorite in tasksFavorite" class="panel panel-default">
                    <div class="panel-heading" role="tab">
                        <h4 class="panel-title">
                            <a href="javascrip:void(0);" class="text-nowrap" ng-init="toggle[$index] = false"  ng-click="toggle[$index] = !toggle[$index]">
                                <span class="glyphicon glyphicon-plus-sign" ng-if="!toggle[$index]"></span>
                                <span class="glyphicon glyphicon-minus-sign" ng-if="toggle[$index]"></span>
                                {{tskFavorite.title}}
                            </a>
                        </h4>
                    </div>
                    <div ng-if="toggle[$index]">
                        <div class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <div class="taskedit">
                                    Task: {{tskFavorite.task_user}}
                                    <hr>
                                    Date: {{tskFavorite.remember}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer style="margin-left: 120px;" class="container-fluid text-center">
    <p><span class="glyphicon glyphicon-copyright-mark"></span> Development by LRRW</p>
</footer>
<script>
    $(document).ready(function(){

        $(".push_menu").click(function(){
            $(".wrapper").toggleClass("active");
        });

        $("#task").click(function () {

            $(".col-md-12").removeClass('hidden');
            $("#tas").show("slow");
            $("#dash").hide("slow");
            $("#fav").hide();

        });

        $("#dashbord").click(function () {

            $("#dash").show("slow");
            $("#tas").hide("slow");
            $("#fav").hide("slow");

        });

        $('#remember').datepicker({

            format: "dd/mm/yyyy",
            language: "pt-BR",
            minViewMode: 0

        });

        $('#favorite').click(function () {

            $(".col-md-12").removeClass('hidden');
            $("#fav").show("slow");
            $("#tas").hide();
            $("#dash").hide("slow");

        });

        $('.btn-toggle').click(function () {

            $(this).find('.btn').toggleClass('active');
            if($(this).find('.btn-primary').length > 0){
               $(this).find('.btn').toggleClass('btn-primary');
           }

        });

        $('.btn-toggle-priority').click(function (){

            $(this).find('.btn').toggleClass('active');
            if($(this).find('.btn-primary').length > 0){
               $(this).find('.btn').toggleClass('btn-primary');
           }

        });

        $('#newTask').click(function () {
            $(".side-bar").css("height", "155%");
        });
    });
</script>